<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> BANDERA </th>
            <th> PAIS </th>
            <th> CAPITAL </th>
            <th> POBLACIÓN </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index"
            class="align-middle">
            <td>{{ i + 1}}</td>
            <td>
                <img [src]="country.flag"
                    class="small-flag"
                    alt="" />
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.population | number }}</td>
            <td>
                <a [routerLink]="[ '/por-pais', country.alpha2Code ]"
                    class="btn btn-primary btn-sm float-end">Ver</a>
            </td>
        </tr>
    </tbody>
</table>