<h3>BUSQUEDA POR PAIS</h3>
<form action="">
    <input type="text"
           class="form-control"
           placeholder="Buscar por pais...">
</form>
<hr>
<div class="alert alert-danger">
    No se encontró la búsqueda del valor ....
</div>
<table class="table table-stripped">
    <thead>
        <tr>
            <th></th>
            <th>PAIS</th>
            <th>CAPITAL</th>
            <th>POBLACIÓN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Perú</td>
            <td>Lima</td>
            <td>33,000,000</td>
            <td></td>
        </tr>
    </tbody>
</table>