<h4 class="text-center">COUNTRY APP</h4>
<br>
<h6 class="text-center">BUSQUEDA POR</h6>
<hr>
<ul class="list-group">
    <li routerLink="" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item list-group-item-action">
        PAIS
    </li>
    <li routerLink="por-capital" 
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        CAPITAL
    </li>
    <li routerLink="por-continente" 
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        CONTINENTE
    </li>
</ul>